body {
    padding: 5% 25% 5% 25%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: skyblue;
}

header,
.card-title,
#title {
    font-family: "Playfair Display", serif;
    font-weight: 700;
}

.card-text,
.about p {
    font-family: "Libre Caslon Text", serif;
}

.heropost #img {
    max-height: 250px;
    overflow: hidden;
}

.posts #img {
    max-height: 130px;
    overflow: hidden;
}

.artikel #imgpost {
    max-height: 300px;
    overflow: hidden;
}

.artikel img {
    width: 100%;
}

.artikel .text {
    font-family: "Libre Caslon Text", serif;
    text-align: justify;
    line-height: 1.9rem;
}

.about img {
    width: 150px;
}

@media only screen and (max-width: 992px) {
    body {
        padding: 10% 15% 10% 15%;
    }

    p {
        font-size: 16px;
    }

    header,
    .card-title,
    #title {
        /* font-size: large; */
    }

    .heropost #img {
        max-height: 150px;
        overflow: hidden;
    }

    .posts #img {
    }

    .artikel #imgpost {
        max-height: 250px;
        overflow: hidden;
    }

    .artikel #imgpost img {
        width: 100%;
    }

    .artikel .text {
        font-family: "Libre Caslon Text", serif;
        text-align: justify;
        line-height: 1.5rem;
        font-size: 16px;
    }

    #more {
        font-size: medium;
    }
}

@media only screen and (max-width: 576px) {
    body {
        padding: 10% 10% 10% 10%;
    }

    p {
        font-size: 14px;
    }

    header,
    .card-title,
    #title {
        font-size: large;
    }

    .heropost #img {
        max-height: 150px;
        overflow: hidden;
    }

    .posts #img {
    }

    .artikel #imgpost {
        max-height: 250px;
        overflow: hidden;
    }

    .artikel #imgpost img {
        width: 100%;
    }

    .artikel .text {
        font-family: "Libre Caslon Text", serif;
        text-align: justify;
        line-height: 1.5rem;
        font-size: 14px;
    }

    #more {
        font-size: medium;
    }
}
